body{
	height: 100vh;

	background-image: linear-gradient(to bottom right, red, yellow);

	}

.split-card{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 300px;
	width: 250px;
	transform: translate(-50%,-50%);
}
.split-card  .cards{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.1);
	transition: all  .4s cubic-bezier(.63,.15,.03,.12);
}
.split-card  .cards img{
	height: 300px;
	width: 250px;
	cursor: pointer;
	transition: all .4s;

}

.split-card  .card-1{
	z-index: 3;
	transform: rotateZ(-2deg);

}
.split-card  .card-2{
	z-index: 2;
	transition-delay: 0.1s;
	transform: rotateZ(5deg);
}
input{
	display: none;

}
input:checked ~ .split-card .card-1{
	transform: translateX(-115%);
}

input:checked ~ .split-card .card-2{
	transform: translateX(115%);
}

input:checked ~ .split-card .card-3{
	transform: translateX(0%);
}
input:checked ~ .split-card img:hover{
	transform: scale(1.2);
}